version: '3.8'

services:
  app:
    image: launchdarkly-demo-weatherapp-js
    container_name: launchdarkly-demo-weatherapp-js
    build: .
    ports:
      - "5173:5173"
    env_file:
      - .env
    environment:
      - NODE_ENV=development
